*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.container{
    width: 1200px;
    margin: 20px auto;
}

/* Header */
header{
    height: 100px;
    background-color: purple;
}

/* Main */
main{
height: 800px;
}

.content_img{
    height: 400px;
    background-color: aquamarine;
}

/* Article */

.page_article{
    height: 400px;
    background-color: rgba(180, 36, 36, 0.432);
}

.title_article{
    height: 50px;
    background-color: aqua;
}

.horizontal_space{
    width: 100%;
    height: 10px;
    background-color: blue;
}

.vertical_space{
    width: 10px;
    height: 330px;
    background-color: blue;
    float: left;
}

/* Content article */
.content_article{
    width: 100%;
    height: 330px;
    background-color: orange;
}

.clearfix{
    content: "";
    display: table;
    clear: both;
}

aside{
    width: 290px;
    height: 330px;
    background-color: yellow;
    float: left;
}

.content{
    width: 600px;
    height:330px ;
    float: left;
}





/* Footer */
footer{
    height: 100px;
    background-color: blueviolet;
}
